<div class = "well">
<h1>Add your trip notes to our database</h1>
<%= form_tag "/notes/new", method: :post %>
<div>Title:</div>
<input type="text" name = "title" placeholder = "Ex: Paradise In Maldives">
<div>Destination:</div>
<input type="text" name = "destination" placeholder = "Ex: Maldives">
<div>Length</div>
<input type="text" name = "length" placeholder = "Ex: 1 week, 2 days">
<div>Season:</div>
<input type="text" name = "season" placeholder = "Ex: Spring">
<div>Report:</div>
<textarea name="text" cols="50" rows="10" placeholder = "Ex: Day One: Flew in to Mad airport. Immediately upon arrival...."></textarea>
<div>
<input type = "submit" value = "Submit">
</div>