#tripbox {margin-top: 60px;
          margin-right: 40px;
          margin-left: 40px;
          border-width: 5px;
          border-style: groove;
          }
.reportheader {font-family: 'Satisfy', cursive;}
.reportdestination {font-family: 'Cookie', cursive;}
.reporttext {font-family: 'Handlee', cursive;
              font-size: 18px;
              line-height: 30px;}
.reportlength {font-family: 'Kalam', cursive;}
.showpageimage {height: 250px; width: 100%}
#rate {width: 500px;}