#tripbox {margin-top: 60px;
          margin-right: 40px;
          margin-left: 40px;
          border-width: 5px;
          border-style: groove;
          }
.reportheader {font-family: 'Satisfy', cursive;}
.reportdestination {font-family: 'Cookie', cursive;}
.reporttext {font-size: 18px;
            line-height: 30px;}
.showsatisfy {font-family: 'Satisfy', cursive;}
.showhandlee {font-family: 'Handlee', cursive;}
.showcookie {font-family: 'Cookie', cursive;}
.showkalam {font-family: 'Kalam', cursive;}
.reportlength {font-family: 'Kalam', cursive;}
.showpageimage {height: 250px; width: 100%;
                padding-bottom: 15px;}
#rate {width: 500px;}